.hero-block {
  padding-top: 10px;

  &::before {
    content: " ";
    display: block;
    width: 100%;
    min-height: 485px;
    background: #d3e4ee url("/source/img/bacgrounds/background-hero-mobile.jpg");
  }
}
