@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.advantages {
  padding: 24px 32px 28px;
  background-color: #eeeeee;

  &--pictured {
    padding: 23px 18px 46px;
    background: none;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 0;
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 0;
    }
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 52px;

  &--pictured {
    row-gap: 25px;

    &::after {
      display: none;
    }
  }

  @media (min-width: var.$tablet-width) {
    & {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.advantages__item {
  position: relative;
  text-align: center;
  padding: 0;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
    position: absolute;
    bottom: -28px;
    left: 0;

    &:last-child {
      display: none;
    }
  }

  &:last-child {
    border: none;
  }

  @media (min-width: var.$tablet-width) {
    & {
      padding: 28px 15px 24px;
      border: none;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 63px 50px 41px;
      border: none;
    }
  }

  &--pictured {
    text-align: left;
    padding: 0;
    padding-left: 47px;
    padding-top: 8px;
    border: none;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 152px 33px 60px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding: 169px 50px 69px;
      }
    }
  }

  &--icon-housing::before {
    @include mixin.advantages-icon;
    background: url("../img/icons/advantages-housing.svg") no-repeat center/contain;
  }

  &--icon-food::before {
    @include mixin.advantages-icon;
    background: url("../img/icons/advantages-food.svg") no-repeat center/contain;
  }

  &--icon-souvenir::before {
    @include mixin.advantages-icon;
    background: url("../img/icons/advantages-souvenir.svg") no-repeat center/contain;
  }
}

.advantages-wrapper {
  padding: 0 30px;
  padding-top: 32px;
  position: relative;
}

.advantages__title {
  @include mixin.font-title;
  color: var.$primary-text-color;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 0 30px;
      text-align: center;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 0 80px;
    }
  }
}

.advantages__description {
  @include mixin.font-description;
  color: var.$secondary-text-color;
  padding-top: 16px;

  @media (min-width: var.$tablet-width) {
    & {
      text-align: center;
      padding: 23px 6px 10px;
    }
  }
}

.advantages__advantages-divider {
  margin: 0;
  padding-top: 11px;
}
