@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.hero-text-wrapper {
  padding: 34px 30px 16px;
  position: relative;

  @include mixin.font-title;

  @media (min-width: var.$tablet-width) {
    & {
      padding-bottom: 55px;
      padding-top: 49px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding-top: 59px;
      padding-bottom: 45px;
    }
  }
}
