@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.hero-block {
  position: relative;

  &::before {
    content: " ";
    display: block;
    min-height: 389px;
    width: 100%;
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center 51px, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;

    @media (min-width: var.$tablet-width) {
      & {
        min-height: 518px;
        background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center/461px, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center/459px, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 37px;
    bottom: -37px;
    width: 100%;
    background: url("../img/bacgrounds/divider-bottom.svg") no-repeat center bottom;
    background-size: cover;
  }

  @media (min-width: var.$tablet-width) {
    &::after {
      @include mixin.font-title;
      display: none;
    }
  }
}

.hero-text-wrapper {
  padding: 0 30px;
  padding-top: 32px;
  position: relative;

  @include mixin.font-title;

  @media (min-width: var.$tablet-width) {
    & {
      padding-bottom: 55px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding-top: 59px;
    }
  }
}

.hero-block__title {
  @include mixin.font-title;
  color: var.$primary-text-color;
  text-align: center;
}

.hero-block__description {
  @include mixin.font-description;
  color: var.$secondary-text-color;
  padding-top: 35px;
  text-align: center;
}
