@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.search-map {
  display: block;
  width: 100%;
  min-height: 350px;
  background: #ffffff url(../img/photo/map.jpg) no-repeat center;
}
