@use "variables.scss" as var;

//Mixins for text
@mixin font-title-mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@mixin font-description-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

//Mixins to blocks

@mixin advantages-icon-mob {
  content: "";
  width: var.$advantages-icon-width;
  height: var.$advantages-icon-height;
  position: absolute;
  top: 0;
  left: 0;
}
//Vertical middle centred block

//buttons
@mixin primary-button {
  background-color: var.$button-primary-background;
}
