@use "variables.scss" as var;

//Mixins for text
@mixin font-title-mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

@mixin font-description-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

@mixin font-input-mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

@mixin form-label-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

//Mixins to blocks

@mixin advantages-icon-mob {
  content: "";
  width: var.$advantages-icon-width;
  height: var.$advantages-icon-height;
  position: absolute;
  top: 0;
  left: 0;
}
//Vertical middle centred block

//buttons
@mixin primary-button {
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  border: none;
  color: var.$light-text-color;
  background-color: var.$button-primary-background;

  &:hover {
    background-color: var.$button-primary-background-hover;
  }

  &:active {
    background-color: var.$button-primary-background-active;
  }

  &:disabled {
    background-color: var.$button-primary-background-disabled;
  }
}
