
//Mixins for text
@mixin font-title-mob {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}

@mixin font-description-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}


@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
//Mixins to blocks
//Vertical middle centred block
