//Variable colors
$primary-text-color: #000000;
$primary-text-color: #333333;

//Mixins to font
@mixin font-title-mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@mixin font-decription-mob {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

//Mixins to blocks
//Vertical middle centred block
