@use "mixins.scss" as mixin;

//Variable colors
$primary-text-color: #000000;
$secondary-text-color: #333333;
$light-text-color: #ffffff;


//Pictures
$advantages-icon-width: 40px;
$advantages-icon-height: 40px;
