//Variable colors
$primary-text-color: #000000;
$secondary-text-color: #333333;
$light-text-color: #ffffff;

$button-primary-background: #81b3d2;
$button-primary-hover: #669ec0;
$button-primary-active: #5496bd;
$button-primary-disabled: #e5e5e5;

//Pictures
$advantages-icon-width: 40px;
$advantages-icon-height: 40px;
