//Variable colors
$primary-text-color: #000000;

//Mixins to font
@mixin font-title-mob {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

//Mixins to blocks
//Vertical middle centred block
