@use "mixins.scss" as mixin;
@use "variables.scss" as var;

.button {
  @include mixin.primary-button;

  &:hover {
    background-color: var.$button-primary-background-hover;
  }

  &:active {
    background-color: var.$button-primary-background-active;
    color: var.$button-text-active;
  }

  &:disabled {
    background-color: var.$button-primary-background-disabled;
    color: var.$button-text-disabled;
  }
}
