@use "mixins.scss" as mixin;
@use "variables.scss" as var;

.container {
  padding: 24px 20px 25px;

  &--with-divider:not(:last-of-type) {
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: var.$tablet-width) {
      & {
        border-bottom: none;
      }
    }
  }

  @media (min-width: var.$tablet-width) {
    & {
      padding: 0;
    }
  }
}
