@charset "UTF-8";
.container {
  padding: 24px 18px 39px;
}
.container--with-devider:not(:last-of-type) {
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .container--with-devider:not(:last-of-type) {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}

.button {
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
}
.button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .button {
    font-size: 21px;
  }
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    z-index: 1;
  }
}

.main-header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.main-footer {
  padding: 45px 18px 22px;
  display: grid;
  row-gap: 33px;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 36px 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.main-footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer__title {
    font-size: 21px;
    line-height: 26px;
  }
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: center;
  row-gap: 6px;
}

.main-footer__link {
  padding: 12px;
  background-color: #81b3d2;
  text-decoration: none;
}
.main-footer__link--social {
  color: #ffffff;
}

.copyrirht-footer {
  padding-top: 10px;
}

.copyrirht-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}
.copyrirht-footer__link:hover {
  color: #81b3d2;
}
.copyrirht-footer__link:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    justify-content: space-between;
    flex-direction: row;
    display: none;
    position: relative;
  }
}
.main-nav__wrapper--hidden {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper--hidden {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #81b3d2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle:hover {
  opacity: 0.8;
}
.main-nav__toggle:active {
  opacity: 0.6;
}
.main-nav__toggle--close {
  color: #ffffff;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  text-align: center;
  padding: 17px 20px 12px;
  box-sizing: border-box;
  color: #ffffff;
  border-bottom: 1px solid #678fa8;
  background-color: #80b2d1;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav__item {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    border: none;
    min-width: 158px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    min-width: 240px;
  }
}
.main-nav__item:hover {
  background-color: #669ec0;
}
.main-nav__item:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.main-nav__item--current {
  background-color: #678fa8;
}
@media (min-width: 768px) {
  .main-nav__item {
    background: none;
    color: #000000;
  }
  .main-nav__item--current {
    background: none;
    color: #766357;
  }
}

.main-nav__item:not(:first-child) {
  border-top: 1px solid #e7e5e5;
}
@media (min-width: 768px) {
  .main-nav__item:not(:first-child) {
    border-top: none;
  }
}

.main-nav__item:last-child {
  box-shadow: inset 0 -5px 5px -6px #000000;
}
@media (min-width: 768px) {
  .main-nav__item:last-child {
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .main-nav__part-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.hero-block {
  position: relative;
}
.hero-block::before {
  content: " ";
  display: block;
  min-height: 389px;
  width: 100%;
  background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center 51px, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;
}
@media (min-width: 768px) {
  .hero-block::before {
    min-height: 518px;
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center/60%, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;
  }
}
@media (min-width: 1200px) {
  .hero-block::before {
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/hero-title.svg") no-repeat center/40%, #d3e4ee url("../img/bacgrounds/background-hero.jpg") no-repeat center;
  }
}
.hero-block::after {
  content: "";
  display: block;
  position: absolute;
  height: 37px;
  bottom: -37px;
  width: 100%;
  background: url("../img/bacgrounds/divider-bottom.svg") no-repeat center bottom;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero-block::after {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .hero-block::after {
    font-size: 21px;
    line-height: 26px;
  }
}

.hero-text-wrapper {
  padding: 0 30px;
  padding-top: 32px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
@media (min-width: 768px) {
  .hero-text-wrapper {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .hero-text-wrapper {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .hero-text-wrapper {
    padding-top: 59px;
  }
}

.hero-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-block__title {
    font-size: 21px;
    line-height: 26px;
  }
}

.hero-block__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #333333;
  padding-top: 35px;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  text-align: center;
}
@media (min-width: 768px) {
  .features {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .features {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .features--reverce {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 768px) {
  .features--reverce .features-wrapper {
    order: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .features--reverce .features-wrapper {
    order: 2;
  }
}

.features__image {
  display: block;
}

.features-wrapper {
  padding-top: 54px;
  padding-bottom: 40px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
@media (min-width: 768px) {
  .features-wrapper {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .features-wrapper {
    padding: 52px 33px 31px;
  }
}
@media (min-width: 1200px) {
  .features-wrapper {
    width: 400px;
  }
}

.features__features-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #ffffff;
  margin: 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
@media (min-width: 768px) {
  .features__features-title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .features__features-title {
    font-size: 21px;
    line-height: 26px;
  }
}

.features__features-divider {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #ffffff;
  margin-top: 11px;
  margin-bottom: 17px;
}

.features__features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #ffffff;
}

.advantages {
  padding: 24px 18px 28px;
  background-color: #eeeeee;
}
.advantages--pictured {
  padding: 23px 18px 46px;
  background: none;
}
@media (min-width: 768px) {
  .advantages--pictured {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding: 0;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages__list--pictured {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  text-align: center;
  padding: 8px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item:last-child {
  border: none;
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 28px 15px 24px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    padding: 63px 50px 41px;
    border: none;
  }
}
.advantages__item--pictured {
  text-align: left;
  padding: 0;
  padding-left: 47px;
  padding-top: 8px;
  border: none;
}
@media (min-width: 768px) {
  .advantages__item--pictured {
    padding: 158px 33px 60px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--pictured {
    padding: 169px 50px 69px;
  }
}
.advantages__item--icon-housing::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icons/advantages-housing.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .advantages__item--icon-housing::before {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.advantages__item--icon-food::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icons/advantages-food.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .advantages__item--icon-food::before {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.advantages__item--icon-souvenir::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icons/advantages-souvenir.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .advantages__item--icon-souvenir::before {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages-wrapper {
  padding: 0 30px;
  padding-top: 32px;
  position: relative;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .advantages__title {
    padding: 0 30px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    padding: 0 80px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #333333;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .advantages__description {
    text-align: center;
  }
}

.advantages__advantages-divider {
  margin-top: 23px;
  margin-bottom: 12px;
}

.action-form {
  padding: 38px 18px 49px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (min-width: 768px) {
  .action-form {
    padding: 61px 155px 58px;
  }
}
@media (min-width: 1200px) {
  .action-form {
    padding: 61px 382px 58px;
  }
}

.action-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .action-form__title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .action-form__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.action-form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #333333;
  padding-top: 16px;
  text-align: center;
}

.search-map {
  display: block;
  width: 100%;
  min-height: 350px;
  background: #ffffff url("../img/photo/map.jpg") no-repeat center;
}

.single-page-head-wrapper {
  position: relative;
}
.single-page-head-wrapper::before {
  content: "";
  display: block;
  min-height: 158px;
  width: 100%;
  background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center/60%, #ffffff url("../img/bacgrounds/background-hero-desktop.jpg") no-repeat center bottom;
}
@media (min-width: 768px) {
  .single-page-head-wrapper::before {
    min-height: 290px;
  }
}
@media (min-width: 1200px) {
  .single-page-head-wrapper::before {
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center/50%, #ffffff url("../img/bacgrounds/background-hero-desktop.jpg") no-repeat center bottom;
  }
}

.page-head-content {
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}

.page-head-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .page-head-content__title {
    font-size: 30px;
  }
}

.page-head-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}

.page-footer-content {
  padding: 30px 18px 0;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
@media (min-width: 768px) {
  .page-footer-content {
    padding: 57px 0 40px;
  }
}

.page-footer-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer-content__title {
    font-size: 30px;
  }
}

.page-footer-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer-content__description {
    padding: 0 160px;
  }
}
@media (min-width: 1200px) {
  .page-footer-content__description {
    padding: 0 160px;
  }
}

.catalog-item {
  border-bottom: 1px solid #d6d6d6;
  position: relative;
}
@media (min-width: 768px) {
  .catalog-item {
    width: 50%;
    border: none;
  }
}
@media (min-width: 1200px) {
  .catalog-item {
    width: 33.3%;
  }
}
.catalog-item--current {
  width: 100%;
}
.catalog-item:nth-child(2n+3) .catalog-item-wrapper {
  background-color: #f2f2f2;
}
@media (min-width: 1200px) {
  .catalog-item:nth-child(2n+3) .catalog-item-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-item-wrapper {
  display: block;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .catalog-item-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 1200px) {
  .catalog-item__title {
    color: #ffffff;
  }
}

.catalog-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #333333;
}
@media (min-width: 1200px) {
  .catalog-item__description {
    color: #ffffff;
  }
}

.catalog-item__button {
  text-decoration: none;
}
.catalog-item__button--like {
  color: #959494;
}
@media (min-width: 1200px) {
  .catalog-item__button {
    color: #ffffff;
  }
}

.catalog-item__likes-counter {
  padding-top: 11px;
  display: flex;
  justify-content: flex-start;
  column-gap: 14px;
}
@media (min-width: 1200px) {
  .catalog-item__likes-counter {
    color: #ffffff;
  }
}

.catalog-item__image {
  display: block;
}

.catalog-item-wrapper {
  padding-top: 15px;
}

.catalog-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }
}

.video-wrapper {
  display: block;
}
@media (min-width: 768px) {
  .video-wrapper {
    padding-top: 28px;
  }
}
@media (min-width: 1200px) {
  .video-wrapper {
    padding: 28px 199px 0;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.modal-container--hidden {
  display: none;
}

.modal {
  min-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-sizing: border-box;
}
.modal--success {
  display: none;
}
@media (min-width: 768px) {
  .modal--success {
    min-width: 640px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%, -40%);
  }
}
@media (min-width: 1200px) {
  .modal--success {
    max-width: 640px;
  }
}
.modal--error {
  top: 20%;
  transform: translate(-50%, -20%);
  display: none;
}
@media (min-width: 768px) {
  .modal--error {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    max-width: 400px;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 37px;
  min-height: 225px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal-wrapper--error {
    padding: 48px 46px 35px;
  }
}
.modal-wrapper--success {
  padding: 44px 30px 0;
}
@media (min-width: 768px) {
  .modal-wrapper--success {
    padding: 57px 110px 34px;
  }
}

.modal__button {
  width: 100%;
}
.modal__button--error {
  border: none;
  min-width: 272px;
}
.modal__button--success {
  border: 20px solid #f2f2f2;
}
@media (min-width: 768px) {
  .modal__button--success {
    border-top: 44px;
    border-bottom: 44px;
    border-left: 91px;
    border-right: 91px;
    border-style: solid;
    border-color: #f2f2f2;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .modal__title--success {
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .modal__title--error {
    padding: 0 60px;
  }
}

.modal__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    padding: 0 120px;
    row-gap: 56px;
  }
}

.feedback-form__header {
  padding: 36px 20px 28px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .feedback-form__header {
    padding: 64px 166px 102px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .feedback-form__header {
    padding: 64px 356px 102px;
  }
}

.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 30px;
  }
}

.feedback-form__fieldgroup {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup:first-of-type {
    border-right: 1px solid #d6d6d6;
    padding-bottom: 15px;
  }
  .feedback-form__fieldgroup {
    row-gap: 28px;
  }
  .feedback-form__fieldgroup--leftsided {
    padding-right: 43px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .feedback-form__fieldgroup--leftsided {
    padding-right: 63px;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup--rightsided {
    padding-left: 43px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .feedback-form__fieldgroup--rightsided {
    padding-left: 63px;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup--fullwidth {
    grid-column: 1/-1;
    position: relative;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .feedback-form__fieldgroup--textarea {
    padding-bottom: 64px;
  }
}

.feedback-form__fieldgroup-title-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup-title-wrapper::after {
    content: "";
    width: 123px;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #dbdbdb;
  }
  .feedback-form__fieldgroup-title-wrapper::before {
    content: "";
    width: 123px;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldgroup-title-wrapper::after {
    width: 240px;
  }
  .feedback-form__fieldgroup-title-wrapper::before {
    width: 240px;
  }
}

.feedback-form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #333333;
  text-align: center;
}

.feedback-form__fieldgroup-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
  text-align: center;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup-title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup-title {
    padding: 0;
  }
}

.feedback-form__label {
  display: block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  color: #000000;
}

.feedback-form__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  margin: 0;
  display: block;
  background-color: #f2f2f2;
  padding: 0;
  padding-left: 16px;
  border: none;
  width: 100%;
  height: 58px;
  position: relative;
  box-sizing: border-box;
}
.feedback-form__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  margin: 0;
  color: #aaaaaa;
}
.feedback-form__input:hover {
  background-color: #e5e5e5;
}
.feedback-form__input:active, .feedback-form__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px #e5e5e5;
  background-color: #ffffff;
}

.feedback-form-input-wrapper {
  display: flex;
}

.feedback-form__input-picture {
  width: 58px;
  min-height: 58px;
  padding: 20px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .feedback-form__input-picture {
    padding: 16px 20px;
  }
}

.feedback-form__fieldgroup-field-wrapper {
  display: flex;
  flex-direction: column;
}
.feedback-form__fieldgroup-field-wrapper--list {
  row-gap: 16px;
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup-field-wrapper--list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldgroup-field-wrapper--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 31px 0;
  }
}
@media (min-width: 768px) {
  .feedback-form__fieldgroup-field-wrapper--checks {
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldgroup-field-wrapper--textarea {
    padding: 0 96px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldgroup-field-wrapper--textarea {
    padding: 0 96px;
  }
}

.feedback-form__fieldgroup-control-label {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  margin: 0;
  color: #000000;
  display: flex;
  align-items: center;
  text-transform: none;
}

.feedback-form__fieldgroup-control-input {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
  margin-right: 16px;
  background: #ffffff;
  border-radius: 4px;
  height: 46px;
  box-sizing: border-box;
  cursor: pointer;
  color: #000000;
}
.feedback-form__fieldgroup-control-input--radio::before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.feedback-form__fieldgroup-control-input--radio:hover::before {
  background-color: #e5e5e5;
}
.feedback-form__fieldgroup-control-input--radio:active::before {
  background-color: #dedede;
}
.feedback-form__fieldgroup-control-input--radio:checked::before {
  background: radial-gradient(#000000 8px, #f1f1f1 8px);
}
.feedback-form__fieldgroup-control-input--radio:checked:hover::before {
  background: radial-gradient(#000000 8px, #e4e4e4 8px);
}
.feedback-form__fieldgroup-control-input--radio:checked:active::before {
  background: radial-gradient(gray 8px, #dddddd 8px);
}
.feedback-form__fieldgroup-control-input--checkbox::before {
  content: "";
  padding: 15px 12px;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  display: block;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.feedback-form__fieldgroup-control-input--checkbox:hover::before {
  background-color: #e5e5e5;
}
.feedback-form__fieldgroup-control-input--checkbox:active::before {
  background-color: #dedede;
}
.feedback-form__fieldgroup-control-input--checkbox:checked::before {
  background: #f1f1f1 url("../img/icons/check.svg") no-repeat center;
}
.feedback-form__fieldgroup-control-input--checkbox:checked:hover::before {
  background: #e5e5e5 url("../img/icons/check.svg") no-repeat center;
}
.feedback-form__fieldgroup-control-input--checkbox:checked:active::before {
  background: #dedede url("../img/icons/check.svg") no-repeat center;
  opacity: 0.6;
}

.feedback-form__textarea {
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
}
@media (min-width: 768px) {
  .feedback-form__textarea {
    min-height: 10em;
  }
}
@media (min-width: 1200px) {
  .feedback-form__textarea {
    min-height: 10em;
  }
}

.feedback-form__textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  margin: 0;
  color: #aaaaaa;
}

.feedback-form__submit-wrapper {
  position: relative;
}
@media (min-width: 1200px) {
  .feedback-form__submit-wrapper {
    padding: 0 96px;
  }
}

.feedback-form__submit {
  width: 100%;
}
@media (min-width: 768px) {
  .feedback-form__submit {
    width: 50%;
  }
}
.feedback-form__submit::after {
  content: "* — обязательные поля";
  position: absolute;
  bottom: -26px;
  right: 0;
  color: #ababab;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .feedback-form__submit::after {
    bottom: 20%;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .feedback-form__submit::after {
    right: 96px;
  }
}

.form-container {
  background-color: #ffffff;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff") format("woof"), url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsansbold.woff") format("woof"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.page {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .page {
    background-color: #f2f2f2;
  }
}

.page__body {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.form-body {
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form-body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .form-body {
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */