@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.catalog-item {
  border-bottom: 1px solid #d6d6d6;
  position: relative;

  @media (min-width: var.$tablet-width) {
    & {
      width: 50%;
      border: none;
    }

    &--current {
      width: 100%;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      width: 33.3%;
    }
  }

  &:nth-child(2n+3) .catalog-item-wrapper {
    background-color: #f2f2f2;

    @media (min-width: var.$desktop-width) {
      & {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}


.catalog-item-wrapper {
  display: block;
  box-sizing: border-box;

  @media (min-width: var.$tablet-width) {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 22px 20px 15px;
      background-color: #eaeaea;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  color: var.$primary-text-color;

  @media (min-width: var.$desktop-width) {
    & {
      color: var.$light-text-color;
    }
  }
}

.catalog-item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: var.$secondary-text-color;

  @media (min-width: var.$desktop-width) {
    & {
      color: var.$light-text-color;
    }
  }
}

.catalog-item__button {
  text-decoration: none;

  &--like {
    color: #959494;
  }

  @media (min-width: var.$desktop-width) {
    & {
      color: var.$light-text-color;
    }
  }
}

.catalog-item__likes-counter {
  padding-top: 11px;
  display: flex;
  justify-content: flex-start;
  column-gap: 14px;

  @media (min-width: var.$desktop-width) {
    & {
      color: var.$light-text-color;
    }
  }
}

.catalog-item__image {
  display: block;
}
