@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.page-head-content {
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}

.page-head-content__title {
  @include mixin.page-title;
  color: var.$primary-text-color;
  text-align: center;
}

.page-head-content__description {
  @include mixin.page-description;
  color: var.$primary-text-color;
  text-align: center;
}
