@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.page-head-content {
  padding: 38px 18px 36px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  border-bottom: 1px solid #e5e5e5;
}

.page-head-content__title {
  @include mixin.page-title;
  color: var.$primary-text-color;
  text-align: center;
}

.page-head-content__description {
  @include mixin.page-description;
  color: var.$primary-text-color;
  text-align: center;
}
