@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.page-head-content {
  padding: 38px 18px 36px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  border-bottom: 1px solid #e5e5e5;

  & br {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    padding: 66px 18px 36px;
    row-gap: 33px;
    border: none;

    & br {
      display: inherit;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 100px 18px 86px;

    & br {
      display: inherit;
    }
  }
}

.page-head-content__title {
  @include mixin.page-title;
  color: var.$primary-text-color;
  text-align: center;
}

.page-head-content__description {
  @include mixin.page-description;
  color: var.$secondary-text-color;
  text-align: center;

  & br {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    & br {
      display: inherit;
    }
  }
}
