@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.single-page-head-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    min-height: 158px;
    width: 100%;
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center 52px/229px, #45515b url("../img/bacgrounds/background-hero-mobile@1x.jpg") no-repeat center bottom;

    @media (min-resolution: 2dppx) {
      background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center/229px, #45515b url("../img/bacgrounds/background-hero-mobile@2x.jpg") no-repeat center / cover;
    }

    @media (min-width: var.$tablet-width) {
      & {
        min-height: 290px;
        background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center 95px/456px, #6d879c url("../img/bacgrounds/background-hero-desktop@1x.jpg") no-repeat center bottom;

        @media (min-resolution: 2dppx) {
          background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center 95px/456px, #6d879c url("../img/bacgrounds/background-hero-desktop@2x.jpg") no-repeat center / cover;
        }
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        min-height: 300px;
        background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center 102px/456px, #6d879c url("../img/bacgrounds/background-hero-desktop@1x.jpg") no-repeat center bottom;

        @media (min-resolution: 2dppx) {
          background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center 102px/456px, #6d879c url("../img/bacgrounds/background-hero-desktop@2x.jpg") no-repeat center / cover;
        }
      }
    }
  }
}
