@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.single-page-head-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    min-height: 158px;
    width: 100%;
    background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center/60%, #ffffff url("../img/bacgrounds/background-hero-desktop.jpg") no-repeat center bottom;

    @media (min-width: var.$tablet-width) {
      & {
        min-height: 290px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        background: url("../img/bacgrounds/divider.svg") no-repeat center bottom, url("../img/bacgrounds/single-page-sedona.svg") no-repeat center/50%, #ffffff url("../img/bacgrounds/background-hero-desktop.jpg") no-repeat center bottom;
      }
    }
  }
}
