@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.video-wrapper {
  display: block;

  @media (min-width: var.$tablet-width) {
    & {
      padding-top: 28px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 28px 199px 0;
    }
  }
}
