@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.feedback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 60px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      grid-template-columns: 494px 467px;
      padding: 0 120px;
      row-gap: 0;
    }
  }
}

.feedback-form__header {
  padding: 36px 20px 28px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-bottom: 1px solid #d6d6d6;

  & br {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    & {
      padding: 64px 30px 102px;
      border: none;
    }

    & br {
      display: inherit;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 115px 30px 69px;
      row-gap: 31px;
    }
  }
}

.feedback-form__title {
  @include mixin.feedback-form__title;
  color: var.$primary-text-color;
  text-align: center;
}

.feedback-form__fieldgroup {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 24px;

  @media (min-width: var.$tablet-width) {
    &:first-of-type {
      border-right: 1px solid #d6d6d6;
    }

    & {
      row-gap: 0;
      padding-top: 3px;
    }
  }

  &--leftsided {
    padding-bottom: 40px;

    @media (min-width: var.$tablet-width) {
      padding-right: 8px;
      padding-bottom: 15px;

      & .feedback-form__fieldgroup-wrapper {
        padding-right: 34px;
        padding-bottom: 16px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & .feedback-form__fieldgroup-wrapper {
        padding-right: 54px;
        padding-bottom: 16px;
      }

      & .feedback-form__fieldgroup-title {
        padding-left: 10px;
      }
    }
  }

  &--rightsided {
    padding-bottom: 34px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 0;
        padding-bottom: 15px;
      }

      & .feedback-form__fieldgroup-wrapper {
        padding-top: 5px;
        padding-left: 44px;
        padding-bottom: 10px;

        @media (min-width: var.$desktop-width) {
          & {
            padding-left: 62px;
          }
        }
      }
    }
  }

  &--fullwidth {
    grid-column: 1 / -1;
    position: relative;
    padding-bottom: 24px;

    @media (min-width: var.$tablet-width) {
      & {
        padding-top: 38px;
        padding-bottom: 0;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding-top: 33px;
        padding-bottom: 10px;
      }
    }
  }

  &--textarea {
    @media (min-width: var.$tablet-width) {
      padding-top: 37px;
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding-top: 37px;
        padding-bottom: 72px;
      }
    }
  }
}

.feedback-form__fieldgroup-title-wrapper .feedback-form__fieldgroup-title {
  position: relative;

  @media (min-width: var.$tablet-width) {
    &::after {
      content: "";
      min-width: 123px;
      height: 1px;
      position: absolute;
      top: calc(50% - 7px);
      transform: translateY(-50%);
      right: 0;
      background-color: #dbdbdb;
    }

    &::before {
      content: "";
      min-width: 123px;
      height: 1px;
      position: absolute;
      top: calc(50% - 7px);
      transform: translateY(-50%);
      left: 0;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 6px 0 20px;
    }

    &::after {
      min-width: 280px;
    }

    &::before {
      min-width: 280px;
    }
  }
}

.feedback-form__description {
  @include mixin.font-description;
  color: var.$secondary-text-color;
  text-align: center;
}

.feedback-form__fieldgroup-title {
  @include mixin.font-title;
  color: var.$primary-text-color;
  text-align: center;
  padding-bottom: 4px;
  display: block;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 0;
      padding-bottom: 26px;
    }
  }
}

.feedback-form__label {
  display: block;
  padding-left: 16px;

  @include mixin.form-label;
  color: var.$secondary-text-color;
}

.feedback-form__input {
  @include mixin.font-input;
  display: block;
  background-color: var.$input-primary-backhround;
  padding: 0;
  padding-left: 16px;
  border: none;
  width: 100%;
  height: 58px;
  position: relative;
  box-sizing: border-box;

  &::placeholder {
    @include mixin.font-input;
    color: var.$input-primary-backhround-placeholder;
  }

  &:hover {
    background-color: var.$input-primary-backhround-hover;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: var.$input-primary-backhround-active;
  }

  &:disabled {
    background-color: var.$input-primary-backhround-disabled;
    opacity: 0.3;
  }
}

.feedback-form__input-picture {
  width: 58px;
  height: 58px;
  padding: 20px;
  background-color: #e6e6e6;
  box-sizing: border-box;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 16px 20px;
    }
  }
}

.feedback-form__fieldgroup-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 0;
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 0 36px 7px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding: 25px 0;
        padding-left: 53px;
      }
    }
  }

  &--checks {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    column-gap: 30px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 6px 84px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding: 40px 45px 34px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 64px;
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    &--textarea {
      padding: 8px 96px;
    }
  }
}

.feedback-form__fieldgroup-control-label {
  cursor: pointer;

  @include mixin.font-input;
  color: var.$primary-text-color;
  display: flex;
  align-items: center;
  text-transform: none;
}

.feedback-form__fieldgroup-control-input {
  appearance: none;
  margin: 0;
  margin-right: 16px;
  background: #ffffff;
  border-radius: 4px;
  height: 46px;
  box-sizing: border-box;
  cursor: pointer;
  color: var.$primary-text-color;

  &:disabled::before {
    background-color: var.$button-primary-background-disabled;
    color: var.$button-text-disabled;
    opacity: 0.3;
  }

  &--radio::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-color: var.$button-radio-background;
    border-radius: 50%;
  }

  &--radio:hover::before {
    background-color: var.$button-radio-background-hover;
  }

  &--radio:active::before {
    background-color: var.$button-radio-background;
  }

  &--radio:checked::before {
    background: radial-gradient(var.$button-radio-check-dot 8px, var.$button-radio-background 8px);
  }

  &--radio:checked:hover::before {
    background: radial-gradient(var.$button-radio-check-dot 8px, var.$button-radio-background-hover 8px);
  }

  &--radio:checked:active::before {
    background: radial-gradient(var.$button-radio-check-dot-active 8px, var.$button-radio-background-active 8px);
  }

  &--checkbox::before {
    content: "";
    padding: 15px 12px;
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    display: block;
    background-color: var.$button-checkbox-background;
    border-radius: 4px;
  }

  &--checkbox:hover::before {
    background-color: var.$button-checkbox-background-hover;
  }

  &--checkbox:active::before {
    background-color: var.$button-checkbox-background-active;
  }

  &--checkbox:checked::before {
    background: #f1f1f1 url("../img/icons/check.svg") no-repeat center;
  }

  &--checkbox:checked:hover::before {
    background: var.$button-checkbox-background-hover url("../img/icons/check.svg") no-repeat center;
  }

  &--checkbox:checked:active::before {
    background: var.$button-checkbox-background-active url("../img/icons/check.svg") no-repeat center;
    opacity: 0.6;
  }
}

.feedback-form__textarea {
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  min-height: 116px;
  resize: none;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;

    @include mixin.font-input;
    color: #000000;
    opacity: 0.3;
  }

  @media (min-width: var.$tablet-width) {
    & {
      min-height: 10em;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      min-width: 768px;
      min-height: 12em;
      margin: 0 auto;
      box-sizing: border-box;
      padding-top: 18px;
    }
  }
}

.feedback-form__submit-wrapper {
  position: relative;
  padding-top: 40px;
  text-align: right;


  @media (min-width: var.$tablet-width) {
    & {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding-left: 96px;
      padding-right: 96px;
    }
  }
}

.feedback-form__submit {
  width: 100%;

  @media (min-width: var.$tablet-width) {
    & {
      max-width: 50%;
      margin: 0;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      max-width: 384px;
      margin: 0;
    }
  }
}

.feedback-form__submit-description {
  font-family: inherit;
  color: var.$secondary-text-color;
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: var.$tablet-width) {
    & {
      opacity: 1;
      bottom: 13px;
      right: 0;
      font-size: 14px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      right: 96px;
    }
  }
}
