@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.feedback-form-input-wrapper {
  display: flex;

  &:active,
  &:focus-within {
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: #ffffff;
  }

  &:focus .feedback-form__input,
  &:focus-within .feedback-form__input {
    box-shadow: none;
    background: none;
  }
}
