@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.feedback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 48px;
      padding: 0 60px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 0 120px;
      row-gap: 56px;
    }
  }
}

.feedback-form__header {
  padding: 36px 20px 28px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 64px 166px 102px;
      border: none;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 64px 356px 102px;
    }
  }
}

.feedback-form__title {
  @include mixin.feedback-form__title;
  color: var.$primary-text-color;
  text-align: center;
}

.feedback-form__fieldgroup {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: var.$tablet-width) {
    &:first-of-type {
      border-right: 1px solid #d6d6d6;
      padding-bottom: 15px;
    }

    & {
      row-gap: 28px;
    }

    &--leftsided {
      padding-right: 43px;

      @media (min-width: var.$desktop-width) {
        & {
          padding-right: 63px;
        }
      }
    }

    &--rightsided {
      padding-left: 43px;

      @media (min-width: var.$desktop-width) {
        & {
          padding-left: 63px;
        }
      }
    }

    &--fullwidth {
      grid-column: 1 / -1;
      position: relative;
    }

    &--textarea {
      @media (min-width: var.$tablet-width) {
        padding-bottom: 64px;
      }
    }
  }
}

.feedback-form__fieldgroup-title-wrapper {
  position: relative;

  @media (min-width: var.$tablet-width) {
    &::after {
      content: "";
      min-width: 123px;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: #dbdbdb;
    }

    &::before {
      content: "";
      min-width: 123px;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: var.$desktop-width) {
    &::after {
      min-width: 240px;
    }

    &::before {
      min-width: 240px;
    }
  }
}

.feedback-form__description {
  @include mixin.font-description;
  color: var.$secondary-text-color;
  text-align: center;
}

.feedback-form__fieldgroup-title {
  @include mixin.font-title;
  color: var.$primary-text-color;
  text-align: center;
  padding-bottom: 4px;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 0;
    }
  }
}

.feedback-form__label {
  display: block;
  padding-left: 16px;

  @include mixin.form-label;
  color: var.$primary-text-color;
}

.feedback-form__input {
  @include mixin.font-input;
  display: block;
  background-color: var.$input-primary-backhround;
  padding: 0;
  padding-left: 16px;
  border: none;
  width: 100%;
  height: 58px;
  position: relative;
  box-sizing: border-box;

  &::placeholder {
    @include mixin.font-input;
    color: #aaaaaa;
  }

  &:hover {
    background-color: darken(var.$input-primary-backhround, 5%);
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: #ffffff;
  }
}

.feedback-form-input-wrapper {
  display: flex;

  &:active,
  &:focus-within {
    outline: none;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: #ffffff;
  }

  &:focus .feedback-form__input,
  &:focus-within .feedback-form__input {
    box-shadow: none;
    background: none;
  }
}

.feedback-form__input-picture {
  width: 58px;
  height: 58px;
  padding: 20px;
  background-color: #e6e6e6;
  box-sizing: border-box;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 16px 20px;
    }
  }
}

.feedback-form__fieldgroup-wrapper {
  display: flex;
  flex-direction: column;

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 0 36px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding: 31px 0;
      }
    }
  }

  &--checks {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  }

  @media (min-width: var.$desktop-width) {
    &--textarea {
      padding: 0 96px;
    }
  }

  @media (min-width: var.$desktop-width) {
    &--textarea {
      padding: 0 96px;
    }
  }
}

.feedback-form__fieldgroup-control-label {
  cursor: pointer;

  @include mixin.font-input;
  color: var.$primary-text-color;
  display: flex;
  align-items: center;
  text-transform: none;
}

.feedback-form__fieldgroup-control-input {
  appearance: none;
  margin: 0;
  margin-right: 16px;
  background: #ffffff;
  border-radius: 4px;
  height: 46px;
  box-sizing: border-box;
  cursor: pointer;
  color: var.$primary-text-color;

  &--radio::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &--radio:hover::before {
    background-color: darken(#f2f2f2, 5%);
  }

  &--radio:active::before {
    background-color: darken(#f2f2f2, 8%);
  }

  &--radio:checked::before {
    background: radial-gradient(#000000 8px, #f1f1f1 8px);
  }

  &--radio:checked:hover::before {
    background: radial-gradient(#000000 8px, darken(#f1f1f1, 5%) 8px);
  }

  &--radio:checked:active::before {
    background: radial-gradient(lighten(#000000, 50%) 8px, darken(#f1f1f1, 8%) 8px);
  }

  &--checkbox::before {
    content: "";
    padding: 15px 12px;
    box-sizing: border-box;
    width: 46px;
    height: 46px;
    display: block;
    background-color: #f2f2f2;
    border-radius: 4px;
  }

  &--checkbox:hover::before {
    background-color: darken(#f2f2f2, 5%);
  }

  &--checkbox:active::before {
    background-color: darken(#f2f2f2, 8%);
  }

  &--checkbox:checked::before {
    background: #f1f1f1 url("../img/icons/check.svg") no-repeat center;
  }

  &--checkbox:checked:hover::before {
    background: darken(#f2f2f2, 5%) url("../img/icons/check.svg") no-repeat center;
  }

  &--checkbox:checked:active::before {
    background: darken(#f2f2f2, 8%) url("../img/icons/check.svg") no-repeat center;
    opacity: 0.6;
  }
}

.feedback-form__textarea {
  background-color: #f2f2f2;
  border: none;
  padding: 16px;

  @media (min-width: var.$tablet-width) {
    & {
      min-height: 10em;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      min-height: 10em;
    }
  }
}

.feedback-form__textarea::placeholder {
  font-family: "PT Sans", sans-serif;

  @include mixin.font-input;
  color: #aaaaaa;
}

.feedback-form__submit-wrapper {
  position: relative;

  @media (min-width: var.$desktop-width) {
    & {
      padding: 0 96px;
    }
  }
}

.feedback-form__submit {
  width: 100%;

  @media (min-width: var.$tablet-width) {
    & {
      width: 50%;
    }
  }

  &::after {
    content: "* — обязательные поля";
    position: absolute;
    bottom: -26px;
    right: 0;
    color: #ababab;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    max-width: 280px;

    @media (min-width: var.$tablet-width) {
      & {
        bottom: 20%;
        right: 0;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        right: 96px;
      }
    }
  }
}
