@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.modal {
  min-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-sizing: border-box;

  &--success {
    top: 67%;
    display: none;

    @media (min-width: var.$tablet-width) {
      & {
        min-width: 640px;
        top: 40%;
        left: 50%;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        max-width: 640px;
        top: 34%;
      }
    }
  }

  &--error {
    top: 30%;
    display: none;

    @media (min-width: var.$tablet-width) {
      & {
        top: 34%;
        left: 50%;
        transform: translate(-50%);
        min-width: 400px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        top: 26%;
      }
    }
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 46px 32px;

  &--error {
    @media (min-width: var.$tablet-width) {
      & {
        width: 400px;
        padding: 46px 46px 50px;
      }
    }

    @media (min-width: var.$tablet-width) {
      & {

        padding: 46px 46px 50px;
      }
    }
  }

  &--success {
    padding: 39px 33px 23px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 50px 110px 19px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding: 48px 110px 12px;
      }
    }
  }
}

.modal__button {
  width: 100%;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: var.$tablet-width) {
    & {
      font-size: 21px;
    }
  }

  &--error {
    border: none;
    width: 180px;

    @media (min-width: var.$tablet-width) {
      width: 272px;
    }
  }

  &--success {
    border: 20px solid #f2f2f2;

    @media (min-width: var.$tablet-width) {
      & {
        border-style: solid;
        border-color: #f2f2f2;
        border-width: 40px 91px;
      }
    }
  }
}

.modal__title {
  @include mixin.font-title;
  text-align: center;

  &--success {
    padding-bottom: 24px;

    @media (min-width: var.$tablet-width) {
      & {
        font-size: 30px;
        line-height: 21px;
        padding-bottom: 34px;
      }
    }

    @media (min-width: var.$desktop-width) {
      & {
        padding-bottom: 9px;
      }
    }
  }

  &--error {
    padding-bottom: 26px;

    @media (min-width: var.$tablet-width) {
      & {
        padding: 0 40px 22px;
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    &--error {
      padding: 0 40px 26px;
    }
  }
}

.modal__description {
  @include mixin.font-description;
  text-align: center;
  padding-bottom: 28px;

  @media (min-width: var.$tablet-width) {
    &--success {
      padding-bottom: 38px;

      & br {
        display: none;
      }
    }

    &--error {
      padding-bottom: 48px;
    }
  }

  @media (min-width: var.$desktop-width) {
    &--success {
      padding-top: 26px;
      padding-bottom: 45px;
    }
  }
}
