// Начните писать стили здесь
@use "./blocks/header/main-header.scss";
@use "./blocks/header/main-container.scss";
@use "./blocks/header/main-nav.scss";

.page__body {
  width: 320px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
