// Начните писать стили здесь
@use "./blocks/mixins.scss";
@use "./blocks/variables.scss";
@use "./blocks/container.scss";
@use "./blocks/button.scss";
@use "./blocks/header/main-header.scss";
@use "./blocks/header/main-container.scss";
@use "./blocks/footer/main-footer.scss";
@use "./blocks/footer/copyrirht-footer.scss";
@use "./blocks/header/main-nav.scss";
@use "./blocks/index/hero-block.scss";
@use "./blocks/index/features.scss";
@use "./blocks/index/advantages.scss";
@use "./blocks/index/action-form.scss";
@use "./blocks/index/search-map.scss";
@use "./blocks/catalog/single-page-head-wrapper.scss";
@use "./blocks/catalog/page-head-content.scss";
@use "./blocks/catalog/catalog-item.scss";
@use "./blocks/catalog/likes-counter.scss";
@use "./blocks/catalog/catalog-item-wrapper.scss";
@use "./blocks/form/modal-container.scss";
@use "./blocks/form/modal.scss";
@use "./blocks/form/feedback-form.scss";

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff") format("woof"), url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsansbold.woff") format("woof"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* .page__body */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
