// Начните писать стили здесь
@use "./blocks/mixins.scss" as mixin;
@use "./blocks/variables.scss" as var;
@use "./blocks/container.scss";
@use "./blocks/button.scss";
@use "./blocks/header/main-header.scss";
@use "./blocks/header/main-container.scss";
@use "./blocks/footer/main-footer.scss";
@use "./blocks/footer/copyrirht-footer.scss";
@use "./blocks/header/main-nav.scss";
@use "./blocks/index/hero-block.scss";
@use "./blocks/index/features.scss";
@use "./blocks/index/advantages.scss";
@use "./blocks/index/action-form.scss";
@use "./blocks/index/search-map.scss";
@use "./blocks/catalog/single-page-head-wrapper.scss";
@use "./blocks/catalog/page-head-content.scss";
@use "./blocks/catalog/page-footer-content.scss";
@use "./blocks/catalog/catalog-item.scss";
@use "./blocks/catalog/likes-counter.scss";
@use "./blocks/catalog/catalog-item-wrapper.scss";
@use "./blocks/catalog/catalog-content.scss";
@use "./blocks/catalog/video-wrapper.scss";
@use "./blocks/form/modal-container.scss";
@use "./blocks/form/modal.scss";
@use "./blocks/form/feedback-form.scss";
@use "./blocks/form/form-container.scss";

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff") format("woof"), url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsansbold.woff") format("woof"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.page {
  font-family: "PT Sans", sans-serif;
  background-color: var.$light-page-backround-color;

  @media (min-width: var.$desktop-width) {
    & {
      background-color: var.$darck-page-backround-color;
    }
  }
}

.page__body {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: var.$light-page-backround-color;

  @media (min-width: var.$tablet-width) {
    width: var.$tablet-width;
  }

  @media (min-width: var.$desktop-width) {
    & {
      width: var.$desktop-width;
      box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    }
  }
}

.form-body {
  min-width: 320px;
  margin: 0 auto;
  background-color: var.$light-page-backround-color;

  @media (min-width: var.$tablet-width) {
    width: var.$tablet-width;
  }

  @media (min-width: var.$desktop-width) {
    & {
      width: var.$desktop-width;
      box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    }
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
