@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.copyrirht-footer {
  padding-top: 8px;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    & {
      text-align: right;
    }
  }
}

.copyrirht-footer__link {
  @include mixin.font-description;
  color: var.$primary-text-color;


  &:hover,
  &:hover .copyrirht-footer__logo {
    color: #81b3d2;
  }

  &:disabled {
    color: var.$button-text-disabled;
  }
}

.copyrirht-footer__logo {
  vertical-align: middle;
  padding-left: 9px;
}
