@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.copyrirht-footer {
  padding-top: 6px;
  text-align: center;
}

.copyrirht-footer__link {
  @include mixin.font-description;
  color: var.$primary-text-color;


  &:hover {
    color: #81b3d2;
  }

  &:disabled {
    color: var.$button-text-disabled;
  }
}

.copyrirht-footer__logo {
  vertical-align: middle;
}
