@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.main-footer {
  padding: 35px 18px 22px;
  display: grid;
  row-gap: 33px;

  &--catalog {
    padding: 22px 18px 22px;
  }

  &--form {
    padding: 34px 18px 22px;
  }

  @media (min-width: var.$tablet-width) {
    & {
      padding: 30px 57px;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
    }

    & .copyrirht-footer {
      text-align: center;
    }

    &--form .copyrirht-footer {
      text-align: right;
    }

    &--catalog {
      padding: 54px 60px 36px;

      & .copyrirht-footer {
        text-align: right;
      }
    }

    &--form {
      padding: 101px 60px 39px;
    }
  }

  @media (min-width: var.$desktop-width) {
    & {
      padding: 32px 118px;
    }

    & .copyrirht-footer {
      text-align: right;
      padding-right: 18px;
    }

    &--catalog .copyrirht-footer {
      text-align: right;
      padding-right: 0;
    }

    &--form {
      padding: 26px 100px 37px;

      & .main-footer__title {
        padding-left: 18px;
      }
    }
  }
}

.main-footer__title {
  @include mixin.main-footer-title;
  color: var.$primary-text-color;
  text-align: center;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: center;
  row-gap: 6px;
}

.main-footer__link {
  text-align: center;
  background-color: var.$button-primary-background;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;

  &--social {
    color: var.$light-text-color;
    width: 48px;
    height: 48px;

    & svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    background-color: var.$button-primary-background-hover;
  }

  &:active {
    background-color: var.$button-primary-background-active;
  }

  &:disabled {
    background-color: var.$button-primary-background-disabled;
  }
}
