@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.main-footer {
  padding: 45px 18px 22px;
  display: grid;
  row-gap: 33px;

  @media (min-width: var.$tablet-width) {
    & {
      padding: 36px 0;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }
}

.main-footer__title {
  @include mixin.font-title;
  color: var.$primary-text-color;
  text-align: center;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: center;
  row-gap: 6px;
}

.main-footer__link {
  padding: 12px;
  background-color: var.$button-primary-background;
  text-decoration: none;

  &--social {
    color: var.$light-text-color;
  }
}
