@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.feedback-form__header {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.feedback-form__title {
  @include mixin.font-title-mob;
  color: var.$primary-text-color;
  text-align: center;
}

.feedback-form__description {
  @include mixin.font-description-mob;
  color: var.$secondary-text-color;
  text-align: center;
}
