@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.modal {
  width: 320px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;

  &--success {
    /* display: none; */
  }

  &--error {
    display: none;
  }
}
