@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.modal {
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-sizing: border-box;

  &--success {
    /* display: none; */
  }

  &--error {
    display: none;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
  padding: 44px 30px 0;
  min-height: 225px;
}

.modal__button {
  border: 20px solid #f2f2f2;
  width: 100%;
}

.modal__title {
  @include mixin.font-title-mob;
  text-align: center;
}

.modal__description {
  @include mixin.font-description-mob;
  text-align: center;
}
