@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.page-head-content {
  padding: 18px 30px;
}

.page-head-content__title {
  @include mixin.font-title-mob;
  color: var.$primary-text-color;
  text-align: center;
}
