@use "../mixins.scss" as mixin;
@use "../variables.scss" as var;

.copyrirht-footer {
  padding-top: 10px;
}

.copyrirht-footer__link {
  @include mixin.font-description-mob;
  color: var.$primary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;

  &:hover {
    color: #81b3d2;
  }
}
